@model CapstoneProject.Models.GameListViewModel<Game>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="plate">
    <div>
        <h4>@Html.DisplayFor(model => model.gameList.Name)</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Games
            </dt>
            <dd class="col-sm-10">
                <table class="table">
                @for (int i = (Model.gameResults.Count() - 1); i > -1; i--)
                {
                    <tr>
                        <td><a asp-area="" asp-controller="game" asp-action="@Model.gameResults[i].Id">@Model.gameResults[i].Name</a></td>
                        <td>
                            <a asp-controller="game" asp-action="Delete" asp-route-id="@Model.gameLists[i].GameID">Delete</a>
                        </td>
                    </tr>
                }
                </table>
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.gameList.ID" class="btn btn-primary text-dark">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>