@model CapstoneProject.Models.GameListViewModel<Game>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="plate">
<div>
    <h4>GameList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gameList.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gameList.Name)
        </dd>
        <dt class="col-sm-2">
            Games
        </dt>
        <dd class="col-sm-10">
            <table>
            @foreach (Game game in Model.gameLists)
            {
                    <tr>
                        <td><a asp-area="" asp-controller="game" asp-action="@game.RawgID">@game.RawgID</a></td>
                        <td>
                            <a asp-controller="game" asp-action="Delete" asp-route-id="@game.GameID">Delete</a>
                        </td>
                    </tr>
            }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.gameList.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>